html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Roboto, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #b80424;
  padding: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headerName {
  margin-left: 10%;
  font-size: 150%;
  color: white;
}

.header .hamburgerIcon .menuIcon {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  margin-left: 10px;
}

.content-1, .content-2 {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
}

.content-1 .content-1-text {
  padding-top: 25%;
  color: #b80424;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 lightgray;
}

.content-2 {
  margin-left: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid black;
  border-radius: 10px;
  border-color: #b80424;
  background-color: #b80424;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-2 .content-2-text {
  padding-left: 5%;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.content-2 .content-2-subtext {
  padding-left: 5%;
  font-size: 13.2px;
  color: white;
}

/* Top Up Sinarmas / ATM Bersama / Prima / Alto */
.transferContent {
  padding: 2%;
  margin: 4%;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  border-color: black;
  background-color: #b80424;
  height: 500px;
}

.image-account-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 15%;
  border: 1px solid black;
  border-radius: 5px;
  border-color: black;
  background-color: white;
  color: black;
}

.account-container .copy-images {
  margin-left: 30%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.account-container .copy-images .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #b80424;
  color: #fff;
  border: 1px solid black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}

.account-container .copy-images .popuptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.account-container .copy-images .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.account-text {
  margin-left: 7%;
  font-family: 'PT Serif';
  font-weight: bold;
}

ul {
  margin-left: 10%;
  list-style-type: circle;
}

ul li {
  padding-bottom: 5%;
}

/* Top Up Other Bank */
.other {
  margin-top: 5%;
  margin-left: 0%;
}

.other .otherList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  padding: 5%;
}

.other .otherList .otherImg {
  width: 50%;
}

.other a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.other li {
  list-style: none;
  padding-bottom: 0%;
}
/*# sourceMappingURL=topup.css.map */