@import "../reset";
@import "../variables";
.content {
    text-align: center;
    margin-top: -15px;
    img {
        padding-top: 15%;
    }
    .field {
        padding-top: 15%;
        .cardDesign {
            font-weight: bold;
            font-size: 11pt;
            color: $primary-color-red;
        }
        label {
            font-weight: bold;
            font-size: 11pt;
            margin-left: -35%;
            color: $primary-color-red;
        }
        input {
            border-top: 0cm;
            border-left: 0cm;
            border-right: 0cm;
            margin-bottom: 7%;
            height: 20px;
            width: 60%;
        }
        i {
            margin-left: -30px;
            cursor: pointer;
        }
        .addCardBtn {
            padding-top: 10%;
            button {
                background-color: $primary-color-red;
                height: 40px;
                width: 60%;
                color: $primary-color-white;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                &:hover {
                    background-color: white;
                    border-color: $primary-color-red;
                    height: 40px;
                    width: 60%;
                    color: $primary-color-red;
                    font-weight: bold;
                    border: 2px solid $primary-color-red;
                    border-radius: 5px;
                    box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                }
            }
        }
        .registerCardBtn {
            button {
                background-color: $primary-color-red;
                height: 40px;
                width: 60%;
                color: $primary-color-white;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                &:hover {
                    background-color: white;
                    border-color: $primary-color-red;
                    height: 40px;
                    width: 60%;
                    color: $primary-color-red;
                    font-weight: bold;
                    border: 2px solid $primary-color-red;
                    border-radius: 5px;
                    box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                }
            }
        }
        .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
            /* Fading animation */
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            .mySlides {
                display: none;
                margin-top: -30px;
                img {
                    vertical-align: middle;
                    margin-left: -10px;
                }
            }
            /* Next & previous buttons */
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: black;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
                &:hover {
                    background-color: rgba(189, 188, 188, 0.8);
                }
            }
            .prev {
                left: 0;
                border-radius: 3px 0 0 3px;
                &:hover {
                    background-color: rgba(189, 188, 188, 0.8);
                }
            }
        }
        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            margin-top: 100px;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #888;
            width: 80%;
            .message {
                h4 {
                    margin-left: -42%;
                    font-size: 14px;
                    font-weight: bold;
                    color: $primary-color-red;
                }
                h3 {
                    font-size: 14px;
                    margin-top: -20px;
                    margin-left: -24%;
                    font-weight: bold;
                    color: $primary-color-red;
                }
                h5 {
                    margin-top: -5px;
                    font-weight: bold;
                    color: $primary-color-red;
                    -webkit-text-stroke: 0.4px $primary-color-black;
                }
                .okBtn {
                    background-color: $primary-color-red;
                    height: 40px;
                    width: 60%;
                    color: $primary-color-white;
                    font-weight: bold;
                    border: none;
                    border-radius: 5px;
                    margin-top: 10px;
                    box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                    &:hover {
                        background-color: white;
                        border-color: $primary-color-red;
                        height: 40px;
                        width: 60%;
                        color: $primary-color-red;
                        font-weight: bold;
                        border: 2px solid $primary-color-red;
                        border-radius: 5px;
                        box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                    }
                }
            }
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                &:hover {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
                &:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .success-checkmark {
        width: 80px;
        height: 115px;
        margin: 0 auto;
        .check-icon {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 50%;
            box-sizing: content-box;
            border: 4px solid #4caf50;
            &::before {
                top: 3px;
                left: -2px;
                width: 30px;
                transform-origin: 100% 50%;
                border-radius: 100px 0 0 100px;
            }
            &::after {
                top: 0;
                left: 30px;
                width: 60px;
                transform-origin: 0 50%;
                border-radius: 0 100px 100px 0;
                animation: rotate-circle 4.25s ease-in;
            }
            &::before,
            &::after {
                content: "";
                height: 100px;
                position: absolute;
                background: #ffffff;
                transform: rotate(-45deg);
            }
            .icon-line {
                height: 5px;
                background-color: #4caf50;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 10;
                &.line-tip {
                    top: 46px;
                    left: 14px;
                    width: 25px;
                    transform: rotate(45deg);
                    animation: icon-line-tip 0.75s;
                }
                &.line-long {
                    top: 38px;
                    right: 8px;
                    width: 47px;
                    transform: rotate(-45deg);
                    animation: icon-line-long 0.75s;
                }
            }
            .icon-circle {
                top: -4px;
                left: -4px;
                z-index: 10;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                box-sizing: content-box;
                border: 4px solid rgba(76, 175, 80, 0.5);
            }
            .icon-fix {
                top: 8px;
                width: 5px;
                left: 26px;
                z-index: 1;
                height: 85px;
                position: absolute;
                transform: rotate(-45deg);
                background-color: #ffffff;
            }
        }
    }
    @keyframes rotate-circle {
        0% {
            transform: rotate(-45deg);
        }
        5% {
            transform: rotate(-45deg);
        }
        12% {
            transform: rotate(-405deg);
        }
        100% {
            transform: rotate(-405deg);
        }
    }
    @keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        70% {
            width: 50px;
            left: -8px;
            top: 37px;
        }
        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }
        100% {
            width: 25px;
            left: 14px;
            top: 45px;
        }
    }
    @keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        65% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        84% {
            width: 55px;
            right: 0px;
            top: 35px;
        }
        100% {
            width: 47px;
            right: 8px;
            top: 38px;
        }
    }
}

// @-webkit-keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }
// @keyframes fade {
//   from {
//     opacity: 0.4;
//   }
//   to {
//     opacity: 1;
//   }
// }
// /* On smaller screens, decrease text size */
// @media only screen and (max-width: 300px) {
//   .prev,
//   .next,
//   .text {
//     font-size: 11px;
//   }
// }
//notification