html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font: 100% Roboto, sans-serif;
}

.content {
  text-align: center;
}

.content img {
  padding-top: 15%;
  margin-left: 200px;
}

.content .field {
  padding-top: 6%;
}

.content .field .balance {
  font-weight: bold;
  font-size: 11pt;
  margin-left: -40%;
  color: #b80424;
}

.content .field .password {
  font-weight: bold;
  font-size: 11pt;
  margin-left: -37%;
  color: #b80424;
}

.content .field .confirmPassword {
  font-weight: bold;
  font-size: 11pt;
  margin-left: -17%;
  color: #b80424;
}

.content .field input {
  border-top: 0cm;
  border-left: 0cm;
  border-right: 0cm;
  margin-bottom: 7%;
  height: 20px;
  width: 60%;
}

.content .field i {
  margin-left: -30px;
  cursor: pointer;
}

.content .field .registerCardBtn {
  padding-top: 10%;
}

.content .field .registerCardBtn button {
  background-color: #b80424;
  height: 40px;
  width: 60%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
}

.content .field .registerCardBtn button:hover {
  background-color: white;
  border-color: #b80424;
  height: 40px;
  width: 60%;
  color: #b80424;
  font-weight: bold;
  border: 2px solid #b80424;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
}

.content .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.content .modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%;
}

.content .modal .modal-content .message h4 {
  margin-left: -42%;
  font-size: 14px;
  font-weight: bold;
  color: #b80424;
}

.content .modal .modal-content .message h3 {
  font-size: 14px;
  margin-top: -20px;
  margin-left: -24%;
  font-weight: bold;
  color: #b80424;
}

.content .modal .modal-content .message .okBtn {
  background-color: #b80424;
  height: 40px;
  width: 60%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
}

.content .modal .modal-content .message .okBtn:hover {
  background-color: white;
  border-color: #b80424;
  height: 40px;
  width: 60%;
  color: #b80424;
  font-weight: bold;
  border: 2px solid #b80424;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0.25px 1px rgba(0, 0, 0, 0.039), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
}

.content .modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.content .modal .modal-content .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content .modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=registerCard.css.map */