$primary-font: Roboto,
sans-serif;
$primary-color-red: #b80424;
$primary-color-white: white;
$primary-color-black: black;
$vertical: flex;
@mixin generateBorder($size, $radius, $color) {
    border: $size solid black;
    border-radius: $radius;
    border-color: $color;
}